<h1 style="margin: 15px">Voici nos contacts</h1>

<div class="card border-info mb-3" style="margin: 25px">
  <div class="card-body">
    <h2>Pour communiquer avec Angel</h2> 
    <h5>Cliquez sur les boutons ci-dessous</h5>
    <button type="button" class="btn btn-outline-info btn-lg btn-block">
      <h2>Linkedin</h2>
    </button>
    <button type="button" class="btn btn-outline-info btn-lg btn-block">
      <h2>Github</h2>
    </button>
  </div>
</div>
<img class="panda" src="https://cdn-icons-png.flaticon.com/512/6485/6485847.png" style="justify-content: center;  background-size: 150px; width: 400px; height: 400px;">