<h1 style="margin: 15px">Je vous présente la team</h1>
<div class="card border-info mb-3" style="max-width: 18rem; margin: 15px">
  <div class="card-header bg-info">Angel</div>
  <div class="card-body text-black">
    <h5 class="card-title">Qui suis-je ?</h5>
    <p class="card-text">Salut, je suis étudiante en developpement web et je recherche d'un stage. 
    <br>Contactez moi, en espérant que le site vous plaira.</p>
    <button type="button" class="btn btn-outline-info"><a href="/contact" style="color:black">Contact</button>
  </div>