<h1>Bienvenue <%=@first_name%> ! <a href="/" style="text-decoration: none">Ici</a> c'est notre super site de potins, il est chouette, non ?</h1>
<img src='https://i.kym-cdn.com/photos/images/original/001/590/146/662.gif'/>